.listbox {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.listbox:focus {
  box-shadow: 0 0 4px 0 #000;
  outline: 4px auto -webkit-focus-ring-color;
}

.listbox-option {
  padding: 0.64rem 1.28rem;
  background-color: #fff;
  list-style: none;
  cursor: pointer;
}

.listbox-option:focus {
  outline: none;
}

.listbox-option[aria-selected="true"] {
  background-color: #dcdcdc;
}
