.listbox {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0.32rem;
}

.listbox:focus {
  outline: 2px solid #1fa7fd;
  outline-offset: 0px;
}

.listbox-option {
  position: relative; 
  padding: 0.64rem 1.6rem;
  background-color: #fff;
  border-radius: 0.32rem;
  list-style: none;
  cursor: pointer;
}

.listbox-option:focus {
  outline: none;
}

.listbox-option[aria-selected="true"]::after {
  content: "\2713";
  position: absolute;
  left: .56rem;
}

.listbox-option[data-focused="true"] {
  outline: 2px solid #1fa7fd;
  outline-offset: -4px;
}
